@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Lato:wght@400;700&family=Playfair+Display:wght@400;500;600&family=Playfair:opsz,wght@5..1200,400;5..1200,600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair", serif;
  font-size: 62.5%;
  text-align: center;
  background-color: #fedc56;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/* Header */

.header {
  height: 3vh;
}

/* Library styling  */

.library__heading {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

/* Book card styling */

.book {
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  margin: 0 auto 2rem;
  padding: 2rem;
  border-radius: 0.25rem;
}

.book__title {
  font-size: 2rem;
}

.book__author {
  font-size: 1.5rem;
  font-family: "Playfair", sans-serif;
}

.book__pages {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 0.75rem 0;
  width: 75%;
  border: 0;
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn_centred {
  max-width: 75vh;
  max-height: 50px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.btn_add {
  margin-bottom: 1rem;
}

.btn_purple {
  background-color: #594ab0;
  color: #fff;
}

.btn_purple:hover {
  background-color: #887ad7;
}

.btn_red {
  background-color: #b03c3c;
  color: #fff;
}

.btn_red:hover {
  background-color: #d86d6d;
}

.book__is-read-btn {
  margin-bottom: 1rem;
}

/* Modal Window */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.modal-open {
  overflow: hidden;
}

.modal__window {
  max-width: 50rem;
  width: 90vw;
  padding: 3rem;
  z-index: 1;
  background-color: #fedc56;
  margin: 3rem 1.5rem;
  border-radius: 1rem;
}

.modal__header {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  gap: 0;
  align-items: center;
  justify-content: center;

  font-size: large;
  margin-bottom: 1.5rem;
}

.modal__header > button {
  background: transparent;
  border: 0;
  cursor: pointer;
  transition: 0.2s all;
}

.modal__header > button:hover {
  transform: scale(1.2);
}

.modal__window > .form {
  margin: 0 auto;
}

.form__label {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  display: block;
}

.form__input {
  display: block;
  margin: 0 auto 1rem;
  font-size: 1.5rem;
  max-width: 80rem;
  width: 100%;
}

.form__input:focus {
  transition: 0.1s all;
  border: none;
  outline: groove #5a4ab0;
}

.form__checkbox {
  display: inline;
  margin-bottom: 2rem;
}

/* Animations */

.scale-up-center {
  transform-origin: center;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
